## Python 
# Byte-compiled / optimized / DLL files 
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
share/
pyvenv.cfg

# Build folders
Build/
build/
blindai.egg-info/
dist/
wheelhouse/

#stub files
blindai/*pb2.py
blindai/*grpc.py

# User files
*.so
*.onnx

# Visual Studio Code environment
.vscode/
