# requirements for building
cryptography==37.0.4
toml
grpcio>=1.4
grpcio-tools>=1.4
delvewheel==0.0.20
bitstring
pybind11
setuptools
wheel
patchelf
check-wheel-contents
auditwheel
cibuildwheel
pre-commit
coverage
numpy
