# requirements for building
cryptography==37.0.4
toml
grpcio==1.48.1
grpcio-tools==1.48.1
protobuf==3.20.1
delvewheel==0.0.20
bitstring
pybind11
setuptools
wheel
patchelf
check-wheel-contents
auditwheel
cibuildwheel
pre-commit
coverage
numpy
