[submodule "ring-fortanix"]
	path = ring-fortanix
	url = https://github.com/mithril-security/ring-fortanix.git
[submodule "tract"]
	path = tract
	url = https://github.com/mithril-security/tract.git
	branch = target-fortanix
[submodule "tar-rs-fortanix"]
	path = tar-rs-sgx
	url = https://github.com/mithril-security/tar-rs-fortanix.git
	branch = target-fortanix
[submodule "tiny-http"]
	path = tiny-http
	url = https://github.com/mithril-security/tiny-http.git
[submodule "rouille-sgx"]
	path = rouille
	url = https://github.com/mithril-security/rouille-sgx.git
